{% extends 'front_base.html.twig' %}

{% block title %}TargetSource index{% endblock %}

{% block main %}
    <h1>TargetSource index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Domain</th>
                <th>ConfidenceLevel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for target_source in target_sources %}
            <tr>
                <td>{{ target_source.id }}</td>
                <td>{{ target_source.domain }}</td>
                <td>{{ target_source.confidenceLevel }}</td>
                <td>
                    <a class="btn-sm btn-info" href="{{ path('target_source_edit', {'id': target_source.id}) }}">Modifier</a>
                    <a onclick="return confirm('Voulez-vous supprimer cette source ?');" class="btn-sm btn-danger" href="{{ path('target_source_delete', {'id': target_source.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune source trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('target_source_new') }}" class="btn btn-primary">Créer une nouvelle source</a>
{% endblock %}
