{% extends 'front_base.html.twig' %}

{% block title %}NewsScan - Admin Blog{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Blog index</h1>

                <table class="table table-light">
                    <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Titre</th>
                        <th>Publié</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for blog in blogs %}
                        <tr>
                            <td>{{ blog.autor.email }}</td>
                            <td>{{ blog.title }}</td>
                            <td>{{ blog.published ? 'Yes' : 'No' }}</td>
                            <td>
                                <a class="btn btn-light" href="{{ path('app_front_blog_show', {'id': blog.id}) }}">Voir</a>
                                <a class="btn btn-info" href="{{ path('app_blog_edit', {'id': blog.id}) }}">Modifier</a>
                                <a onclick="return confirm('Voulez-vous vraiment supprimer la news ?');" class="btn btn-danger" href="{{ path('app_blog_delete', {'id': blog.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Encore aucune news en ligne !</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-primary" href="{{ path('app_blog_new') }}">Nouvelle news</a>
            </div>
        </div>
    </div>
{% endblock %}
