{% extends 'base.html.twig' %}

{% block title %}Index Front{% endblock %}

{% block body %}
    <main>
        <p>Accueil</p>
        <a class="btn btn-primary" href="{{ path('app_security_login') }}">Login</a>
        <a class="btn btn-danger" href="{{ path('app_security_logout') }}">Logout</a>

        <section>
            {% if errors is defined %}
                <div class="alert alert-danger" role="alert">
                    <h2>Oops ! Il semble y avoir un problème : </h2>
                    {% for error in errors %}
                        <p>- {{ error }}</p>
                    {% endfor %}
                    <p><em>Voici votre saisie : {{ link }}</em></p>
                </div>
            {% endif %}
        </section>
        <section style="width: 750px;">
            <h2>Principaux topics de votre article</h2>
            {{ dump(topics) }}
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {% for topic in topics %}
                        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-{{ topic.labelUrl }}" role="tab" aria-controls="nav-home" aria-selected="true">{{ topic.label }}</a>
                    {% else %}
                        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-nothing" role="tab" aria-controls="nav-home" aria-selected="true">Pas de correspondance</a>
                    {% endfor %}
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                {% for topic in topics %}
                    <div class="tab-pane fade" id="nav-{{ topic.labelUrl }}" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Source</th>
                                    <th scope="col">Titre</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in topic.ozaeArticles.articles %}
                                    <tr>
                                        <th scope="row">{{ article.source.domain }}</th>
                                        <td>{{ article.name}}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">Oops ! Aucun article trouvé.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="tab-pane fade show active" id="nav-nothing" role="tabpanel" aria-labelledby="nav-home-tab">
                        <p>Désolé, nous n'avons pas trouvé de mot clé pour cet article.</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}