{% extends 'front_base.html.twig' %}

{% block title %}Résultat d'analyse{% endblock %}

{% block main %}

    {% if errors is defined %}
        <section class="row">
            <div class="offset-md-3 col-md-6 col-12">
                <div class="alert alert-danger" role="alert">
                    <h2>Oops ! Il semble y avoir un problème : </h2>
                    {% for error in errors %}
                        <p>- {{ error }}</p>
                    {% endfor %}
                    <p><em>Voici votre saisie : {{ link }}</em></p>
                </div>
            </div>
        </section>
    {% else %}
        <section id="n-content-article" class="row">
            <div class="col-12">
                <h1 class="text-center">Résultat</h1>
            </div>
            <div class="col-12 n-content-targeted-article">
                <h4>{{ article.title }}</h4>
                <p>Source : <a href="{{ source }}">{{ source }}</a></p>
                <p>Date : {{ article.date|date("d/m/Y") }}</p>
            </div>
        </section>
        <section id="n-content-score" class="row">
            <div class="col-lg-6 col-12">
                <div class="n-article-content">
                    <h5>Votre article est fiable à</h5>
                    <svg id="fillgauge1" width="97%" height="250"></svg>
                </div>
                <div id="n-nombre-vote" class="newsfaker-information">
                    {% if user %}
                        {% if not findVote %}
                            <a href="#" class="btn-faker newsscan-center-div" style="background-color: {{ score.backgroundColor }};" onclick="return sendReview();">
                                <i class="icon-thumb-down"></i>
                            </a>
                        {% else %}
                            <p>Vous avez déjà contribué.</p>
                            <a href="#" class="btn-faker disabled newsscan-center-div" onclick="return false;">
                                <i class="icon-thumb-down"></i>
                            </a>
                        {% endif %}
                    {% else %}
                        <p>Pour contribuer, il faut vous <a href="{{ path('app_security_login') }}">connecter</a> !</p>
                        <a href="#" class="btn-faker disabled newsscan-center-div" onclick="return false;">
                            <i class="icon-thumb-down"></i>
                        </a>
                    {%  endif %}
                    {% if nbVote > 1 %}
                        <p>{{ nbVote }} fakes</p>
                    {% else %}
                        <p>{{ nbVote }} fake</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <h5>Les principaux sujets de votre article</h5>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        {% for topic in topics %}
                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-{{ topic.labelUrl }}" role="tab" aria-controls="nav-home" aria-selected="true">{{ topic.label|capitalize }}</a>
                        {% else %}
                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-nothing" role="tab" aria-controls="nav-home" aria-selected="true">Pas de correspondance</a>
                        {% endfor %}
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    {% for topic in topics %}
                        <div class="tab-pane fade" id="nav-{{ topic.labelUrl }}" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Source</th>
                                    <th scope="col">Titre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for article in topic.ozaeArticles.articles %}
                                    <tr>
                                        <th scope="row">{{ article.source.domain }}</th>
                                        <td>{{ article.name}}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">Oops ! Aucun article trouvé.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="tab-pane fade show active" id="nav-nothing" role="tabpanel" aria-labelledby="nav-home-tab">
                            <p>Désolé, nous n'avons pas trouvé de mot clé pour cet article.</p>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <p>Vous souhaitez en savoir plus sur notre fonctionnement ? <a href="{{ path('app_default_howappwork') }}">Cliquez-ici</a></p>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var config1 = liquidFillGaugeDefaultSettings();
        config1.circleColor = "{{ score.backgroundColor }}"
        ;
        config1.textColor = "{{ score.textColor }}"
        ;
        config1.waveTextColor = "{{ score.textColor }}"
        ;
        config1.waveColor = "{{ score.backgroundColor }}"
        ;
        config1.circleThickness = 0.05;
        config1.textVertPosition = 0.5;
        config1.waveHeight = 0.25;
        config1.waveAnimateTime = 950;
        var gauge1 = loadLiquidFillGauge("fillgauge1", {{ score.value * 100 }}, config1);


        let blocNombreVote = document.getElementById('n-nombre-vote');
        function sendReview(){
            while (blocNombreVote.hasChildNodes()) {
                blocNombreVote.removeChild(blocNombreVote.lastChild);
            }
            const paragraphe = document.createElement("p");
            const text = document.createTextNode('Merci pour votre contribution !');
            paragraphe.appendChild(text);
            blocNombreVote.appendChild(paragraphe);
            let dataInformation = {
                urlArticle: "{{ link }}"
            };
            initiateAPi("{{path('app_review_add')}}", dataInformation);

            return false;
        }
        function initiateAPi(route, payload) {
            $.ajax({
                url: route,
                type: 'POST',
                data: payload
            }).done(function(res) {
                return res;
            });
        }
    </script>
{% endblock %}
