<nav class="newsscan-navbar">
    <div id="newscan-menu" class="n-burger-menu">
        <i class="material-icons">
            menu
        </i>
    </div>
    <div class="newsscan-navbar-logo">
        <a href="{{ path('app_default_index') }}">
            <img height="60" src="{{ asset('images/newsscan/svg/logo_web.svg') }}" alt="">
        </a>
    </div>
    <ul class="newsscan-navbar-ul">
        <li {% if app.request.get('_route') == 'app_default_index' %} class="active"{% endif %}>
            <a href="{{ path('app_default_index') }}">Scanner</a>
        </li>
        <li {% if app.request.get('_route') == 'app_default_howappwork' %} class="active"{% endif %}>
            <a href="{{ path('app_default_howappwork') }}">Comment ça fonctionne ?</a>
        </li>
        <li {% if app.request.get('_route') == 'app_default_whoareus' %} class="active"{% endif %}>
            <a href="{{ path('app_default_whoareus') }}">A propos</a>
        </li>
        <li>
            <a href="{{ path('app_front_blog_index') }}">News</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if is_granted('ROLE_ADMIN') %}
                <li {% if app.request.get('_route') == 'app_back_admin_index' %} class="active"{% endif %}>
                    <a href="{{ path('app_back_admin_index') }}">Admin</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('app_security_logout') }}" class="login">
                    <button class="n-btn-primary">
                        Déconnexion
                    </button>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('app_security_login') }}" class="login">
                    <button class="n-btn-primary">
                        Connexion
                    </button>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

<div id="hidden-menu" class="hidden-menu">
    <div id="close-menu">
        <i class="material-icons">
            close
        </i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 n-container-image">
                <img height="180" src="{{ asset('images/newsscan/svg/logo_mobile.svg') }}" alt="#">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        <a href="#">
                            <i class="icon-logo-icone-12"></i>Scanner
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">help</i>Comment ça fonctionne ?
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">
                                person
                            </i>A propos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">
                                note
                            </i>
                            News
                        </a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('app_security_logout') }}" class="login">
                                <i class="material-icons">
                                    exit_to_app
                                </i>
                                Déconnexion
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_security_login') }}" class="login">
                                <i class="material-icons">
                                    exit_to_app
                                </i>
                                Connexion
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
