<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('app_default_index') }}">
        <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
        NewsScan
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_default_index') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Comment ça marche ?</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Target Source</a>
                            <a class="dropdown-item" href="#">Blog</a>
                        </div>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <div class="inline">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_security_logout') }}" class="btn btn-secondary">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_security_login') }}" class="btn btn-light">Connexion</a>
                <a href="{{ path('user_new') }}" class="btn btn-success">Inscription</a>
            {% endif %}
        </div>
    </div>
</nav>-->
<nav class="newsscan-navbar">
    <div id="newscan-menu" class="n-burger-menu">
        <i class="material-icons">
            menu
        </i>
    </div>
    <div class="newsscan-navbar-logo">
        <a href="{{ path('app_default_index') }}">
            <img height="60" src="{{ asset('images/newsscan/svg/logo_web.svg') }}" alt="">
        </a>
    </div>
    <ul class="newsscan-navbar-ul">
        <li {% if app.request.get('_route') == 'app_default_index' %} class="active"{% endif %}>
            <a href="{{ path('app_default_index') }}">Scanner</a>
        </li>
        <li {% if app.request.get('_route') == 'app_default_whoareus' %} class="active"{% endif %}>
            <a href="{{ path('app_default_whoareus') }}">Comment ça fonctionne ?</a>
        </li>
        <li>
            <a href="#">Qui sommes nous ?</a>
        </li>
        <li>
            <a href="#">Nos news</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <a href="{{ path('app_security_logout') }}" class="login">
                    <button class="n-btn-primary">
                        Déconnexion
                    </button>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('app_security_login') }}" class="login">
                    <button class="n-btn-primary">
                        Connexion
                    </button>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

<div id="hidden-menu" class="hidden-menu">
    <div id="close-menu">
        <i class="material-icons">
            close
        </i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 n-container-image">
                <img height="180" src="{{ asset('images/newsscan/svg/logo_mobile.svg') }}" alt="#">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        <a href="#">
                            <i class="icon-logo-icone-12"></i>Scanner
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">help</i>Comment ça fonctionne ?
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">
                                person
                            </i>Qui sommes nous ?
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">
                                note
                            </i>
                            Nos news
                        </a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('app_security_logout') }}" class="login">
                                <i class="material-icons">
                                    exit_to_app
                                </i>
                                Déconnexion
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('app_security_login') }}" class="login">
                                <i class="material-icons">
                                    exit_to_app
                                </i>
                                Connexion
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>